<a href="https://colab.research.google.com/github/lrice14/cmsc206/blob/main/Activity3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#A function, print_big_enough(), that accepts two parameters: a list of numbers and a number
#The function should print, in order, all of the elements in the list that are bigger then (>) the second parameter

def print_big_enough(numbers_list, number):
    result = []
    for num in numbers_list:
        if num > number:
            result.append(num)
    print(result)

In [ ]:
#Another function that accepts a date (mm/dd/yy) and outputs it as Month, Day, Year
def arrange_date(date_input):
    split_date = date_input.split('/')

    month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]

    formatted_date = "{} {}, 20{}".format(month_names[int(split_date[0]) - 1], split_date[1], split_date[2])

    print(formatted_date)